@mixin btn-props {
    cursor: pointer;
    transition: all .2s;
    &:link,
    &:visited {
        display: inline-block; 
        font-weight: bold;
        
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba($black, .2);
    }

     &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 1rem rgba($black, .2);
    }
}